{% extends 'terrains/dashBase.html' %}

  {% block content %}
       <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">


                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h4>Listes Users</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-fill border-0 illustration">
                                <div class="card-body p-0 d-flex flex-fill">
                                    <div class="row g-0 w-100">


                                    </div>
                                </div>
                            </div>
                        </div>
<!-- Première table -->
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Montant payé</th>
      <th scope="col">État</th>
      <th scope="col">Date et heure</th>
      <!-- Ajoutez d'autres champs de réservation que vous souhaitez afficher -->
    </tr>
  </thead>
  <tbody>
    {% for reservation in reservations %}
    <tr>
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.montant_payer }}</td>
      <td>{{ reservation.etat }}</td>
      <td>{{ reservation.date_time }}</td>
      <!-- Ajoutez d'autres champs de réservation que vous souhaitez afficher -->
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% endblock content %}