{% extends 'terrains/base.html' %}

{% block content %}
    <div class="container mt-5 pt-5" style="padding: 6cm">
        <h2>Réservation</h2>
        <form method="POST" action="{% url 'affiche_reservation' terrain_id tarif_horaire %}">
    {% csrf_token %}
        {{ form.as_p }}
    <!-- <div class="form-group">
        <label for="montant_payer">Montant à Payer</label>
        <input type="number" class="form-control" id="montant_payer" name="montant_payer" step="0.01" value="{{ tarif_horaire }}" readonly style="background-color: grey" required style="color: black">
    </div>

    <div class="form-group">
        <label for="datetime">Date et Heure:</label>
        {{ form.reservation_datetime }}
    </div> -->

    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtenir la date et l'heure actuelles
            const now = new Date();
            // Formater la date et l'heure pour le type datetime-local
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');

            const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;

            // Définir la valeur de l'input datetime-local
            document.getElementById('date_debut').value = formattedDate;
        });
        flatpickr(".datetimepicker", {
            enableTime: true,
            noCalendar: false,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            minuteIncrement: 15,
            enableSeconds: false,
            onValueUpdate: function(selectedDates, dateStr, instance) {
                // This will automatically round the minutes to the nearest 15 minutes
                const date = selectedDates[0];
                const minutes = date.getMinutes();
                const roundedMinutes = Math.round(minutes / 15) * 15;
                date.setMinutes(roundedMinutes);
                instance.setDate(date, false);
            }
        });
    </script>
{% endblock %}
